{% extends "Layout.html" %}

{% block content %}
  <h1>Create an account</h1>
  <br>
  <form action="DoneWithAccount" method="POST" style="text-align: center;">
    {% for book in books %}
      <input type="hidden" name="book" value="{{ book }}">
    {% endfor %}

    {% for show in shows %}
      <input type="hidden" name="show" value="{{ show }}">
    {% endfor %}

    {% for movie in movies %}
      <input type="hidden" name="movie" value="{{ movie }}">
    {% endfor %}

    {% for game in games %}
      <input type="hidden" name="game" value="{{ game }}">
    {% endfor %}

    <p>
      Username: <input type="text" name="username">
    </p>

    <p>
      Password: <input type="password" name="password">
    </p>
    <br>
    <p>
      <button type="submit" class="btn btn-primary btn-lg" role="button">
        Finish creating account
      </button>
    </p>
  </form>
{% endblock %}
