{% extends "Layout.html" %}

{% block content %}
  {% if name %}
    <h1>Edit media</h1>
    <form action="Suggestions.html" method="POST">

      <div class="row">
        <div class="col-md-3">
          <p><img src="/static/Book.png"> Books</p>
          <ul class="list-group">
            {% for book in books %}
              <li class="list-group-item">{{ book }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-3">
          <p><img src="/static/TV.png"> Shows</p>
          <ul class="list-group">
            {% for show in shows %}
              <li class="list-group-item">{{ show }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-3">
          <p><img src="/static/Movie.png"> Movies</p>
          <ul class="list-group">
            {% for movie in movies %}
              <li class="list-group-item">{{ movie }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-3">
          <p><img src="/static/GamePad.png"> Games</p>
          <ul class="list-group">
            {% for game in games %}
              <li class="list-group-item">{{ game }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p>Add books</p>
            <input style="margin-bottom:10px;" class="form-control" type="text" name="book">
            <input style="margin-bottom:10px;" class="form-control" type="text" name="book">
            <input style="margin-bottom:10px;" class="form-control" type="text" name="book">
            <input style="margin-bottom:10px;" class="form-control" type="text" name="book">
            <input style="margin-bottom:10px;" class="form-control" type="text" name="book">
        </div>

        <div class="col-md-3">
          <p>Add shows</p>
          <input style="margin-bottom:10px;" class="form-control" type="text" name="show">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="show">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="show">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="show">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="show">
        </div>

        <div class="col-md-3">
          <p>Add movies</p>
          <input style="margin-bottom:10px;" class="form-control" type="text" name="movie">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="movie">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="movie">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="movie">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="movie">
        </div>

        <div class="col-md-3">
          <p>Add games</p>
          <input style="margin-bottom:10px;" class="form-control" type="text" name="game">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="game">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="game">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="game">
          <input style="margin-bottom:10px;" class="form-control" type="text" name="game">
        </div>
      </div>

      <p>
        <h1>
          <button type="submit" class="btn btn-primary btn-lg" role="button">
            See suggestions
          </a>
        </h1>
      </p>
    </form>
  {% else %}
    <h1>Recommedia</h1>
    <p>
      Do you want to find out what books, shows, movies and games you will like? We make recommendations suited to your tastes!
    </p>
    <p>
      <a href="TryItNow.html" class="btn btn-primary btn-lg" role="button">
        Try it out now!
      </a>
    </p>
    <p>
      <a href="CreateAccount.html" class="btn btn-primary btn-lg" role="button">
        Make an account
      </a>
    </p>
    <img src={{imageName}} width="50px" height="50px">
  {% endif %}
{% endblock %}
