{% extends "Layout.html" %}

{% block content %}
  <h1>Here are some suggestions:</h1>

  <div class="col-md-3">
    <p>Books</p>
    <ul class="list-group">
      {% for book in books %}
        <li class="list-group-item">{{ book }}</li>
      {% endfor %}
      {% for book in bookUrls %}
        <img src={{book}} width="50px" height="50px">
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-3">
    <p>Shows</p>
    <ul class="list-group">
      {% for show in shows %}
        <li class="list-group-item">{{ show }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-3">
    <p>Movies</p>
    <ul class="list-group">
      {% for movie in movies %}
        <li class="list-group-item">{{ movie }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-3">
    <p>Games</p>
    <ul class="list-group">
      {% for game in games %}
        <li class="list-group-item">{{ game }}</li>
      {% endfor %}
    </ul>
  </div>

  {% if name %}
    <p>
        <a href="Index.html" class="btn btn-primary btn-lg" role="button">
          Go back and edit media
        </a>
    </p>
  {% else %}
    <form action="CreateAccount.html" method="POST">
      {% for book in submittedBooks %}
        <input type="hidden" name="book" value="{{ book }}">
      {% endfor %}

      {% for show in submittedShows %}
        <input type="hidden" name="show" value="{{ show }}">
      {% endfor %}

      {% for movie in submittedMovies %}
        <input type="hidden" name="movie" value="{{ movie }}">
      {% endfor %}

      {% for game in submittedGames %}
        <input type="hidden" name="game" value="{{ game }}">
      {% endfor %}

      <p>
          <button type="submit" class="btn btn-primary btn-lg" role="button">
            Make an account to store media
          </button>
      </p>
    </form>
  {% endif %}

{% endblock %}
