{% extends "Layout.html" %}

{% block content %}
  <h1>Here are some suggestions:</h1>

  <div class="col-md-3">
    <p><img src="/static/Book.png"> Books</p>
    <ul class="list-group">
        {% for i in range(0, books|length) %}
          <li class="list-group-item">
            <img src={{bookUrls[i]}} width="50px" height="50px">
            <a href="Media.html?name={{ books[i]|urlencode }}&type=book&last=Suggestions.html">
              {{ books[i] }}
            </a>
          </li>
        {% endfor %}
    </ul>
  </div>

  <div class="col-md-3">
    <p><img src="/static/TV.png"> Shows</p>
    <ul class="list-group">
        {% for i in range(0, shows|length) %}
          <li class="list-group-item">
            <img src={{showUrls[i]}} width="50px" height="50px">
            <a href="Media.html?name={{ shows[i]|urlencode }}&type=tv+show&last=Suggestions.html">
              {{ shows[i] }}
            </a>
          </li>
        {% endfor %}
    </ul>
  </div>

  <div class="col-md-3">
    <p><img src="/static/Movie.png"> Movies</p>
    <ul class="list-group">
        {% for i in range(0, movies|length) %}
          <li class="list-group-item">
            <img src={{movieUrls[i]}} width="50px" height="50px">
            <a href="Media.html?name={{ movies[i]|urlencode }}&type=movie&last=Suggestions.html">
              {{ movies[i] }}
            </a>
          </li>
        {% endfor %}
    </ul>
  </div>

  <div class="col-md-3">
    <p><img src="/static/GamePad.png"> Games</p>
    <ul class="list-group">
        {% for i in range(0, games|length) %}
          <li class="list-group-item">
            <img src={{gameUrls[i]}} width="50px" height="50px">
            <a href="Media.html?name={{ games[i]|urlencode }}&type=videogame&last=Suggestions.html">
              {{ games[i] }}
            </a>
          </li>
        {% endfor %}
    </ul>
  </div>

  {% if name %}
    <p style="text-align: center;">
        <a href="Index.html" class="btn btn-primary btn-lg" role="button">
          Go back and edit media
        </a>
    </p>
  {% else %}
    <form action="CreateAccount.html" method="POST">
      {% for book in submittedBooks %}
        <input type="hidden" name="book" value="{{ book }}">
      {% endfor %}

      {% for show in submittedShows %}
        <input type="hidden" name="show" value="{{ show }}">
      {% endfor %}

      {% for movie in submittedMovies %}
        <input type="hidden" name="movie" value="{{ movie }}">
      {% endfor %}

      {% for game in submittedGames %}
        <input type="hidden" name="game" value="{{ game }}">
      {% endfor %}
      <h1>
        <p>
            <button type="submit" class="btn btn-primary btn-lg" role="button">
              Make an account to store media
            </button>
        </p>
      </h1>
    </form>
  {% endif %}

{% endblock %}
